@model Emit.Web.Models.EditViewModel
@using Emit.Web.ClaimsPrincipalExtensions;
@{
    Layout = null;
}

<div class="dropdown">

    <div class="form-group">
        <label for="exampleFormControlSelect1">Change a sector</label>
        <div class="alert-danger" id="error">  </div>
        <select class="form-control" id="sector-select">
            <option selected="selected" id="sector-select" disabled="disabled">Pick a sector</option>
            @foreach (var sector in Model.Sectors)
            {
                <option value="@sector">@sector</option>
            }
        </select>
    </div>
    @if (User.IsAdmin())
    {
        <div class="row form-group">
            <div class="col-6">
                <label for="exampleFormControlSelect2">Current Roles</label>
                <select multiple class="form-control" id="current-roles">
                    @foreach (var item in Model.UserRoles)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>

            <div class="col-6">
                <label for="exampleFormControlSelect2">Availeble Roles</label>
                <select multiple class="form-control" id="all-roles">
                    @foreach (var item in Model.Roles)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <button id="bg-current-right" class="bg-transparent"><i class="fas fa-arrow-circle-right"></i></button>

            </div>
            <div class="col-6">
                <button id="bg-all-left" class="bg-transparent"><i class="fas fa-arrow-circle-left"></i></button>
            </div>
        </div>
    }
</div>
<script>
  

    $("#bg-current-right").on('click', function () {
        var selected = $("#current-roles").val();
        selected.forEach(x => $("#all-roles").append(`<option value='${x}'>${x}</option>`))
        $("#current-roles option:selected").remove();
        });
    $("#bg-all-left").on('click', function () {
        var selected = $("#all-roles").val();
        selected.forEach(x => $("#current-roles").append(`<option value='${x}'>${x}</option>`))
        $("#all-roles option:selected").remove();
        });

</script>
